/* This stylesheet is where to add styles for your Shakespeare Home Page */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  /*your style rules go in here */
  background-color: seashell;
  font-size: smaller;
}

header {
font-family: 'Abril Fatface', serif;
font-size: 40px;
/*border: 1px solid rgb(89, 12, 12);
background-color: rgb(89, 12, 12);*/
color: rgb(89, 12, 12);
}

h1{
  text-align: center;
}

main {
width: 80%;
max-width: 700px;
margin: 12px auto 12px auto;
/*background-color: white;*/
margin-bottom: 2em;
position: relative;
font-size: 15px;
}

section {
  border: 0;
}


figure {
 width: 45%;
 margin: 0 auto;
 float:right;
 margin-left: 10px;
 margin-bottom: 10px;
}

img{
display:block;
margin-left: 1em;
width: 100%;
}

.info{
  display: block;
}

p {
  margin-bottom: 12px;
  text-align: justify;
}

ul {
  margin: .5em 1em;
  list-style-position: inside;
}

li{
  margin-bottom: 1em;
}

.Performed, .Printed {
  color: rgb(89, 12, 12);
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align:right;
}

.quote {
  font-style:italic;
  font-size: larger;
  margin-top: 10px;
}

iframe {
  display:block;
  margin:auto;
  margin-bottom: 20px;
  border: none;
  border-radius:12px;
  width:75%;
  /* height: auto; */
  }

.music {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color: rgb(89, 12, 12);
}

footer {
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
color: seashell;
background:rgb(89, 12, 12);
height: 2em;
}

.playlink a {
  width: 20%;
  text-align: center;
  float:right;
  color: rgb(89, 12, 12);
  text-decoration: none; 
  font-weight: bold;
  font-size: larger;
  background-color: white;
  padding: 2em;
  margin-top: 4em;
  margin-right: 60px;
  margin-bottom: 40px;
  }

.about {
  width: 60%;
  color: rgb(89, 12, 12);
  text-decoration: none; 
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  margin-left: 60px;
  margin-bottom: 3em;
  padding-top: 2px;
  padding-bottom: 2px;
}

.abouts {
  text-align: center;
}

ul {
  text-align:justify;
  font-size: 90%;
  color: black;
  font-weight: normal;
  padding: 2px 10px 0px 10px;
  list-style-type: disc;
}


@media (max-width: 600px) {
  header {
    font-size: 30px;
  }
  
  figure {
    width: 80%;
    margin: 0 auto;
    float:none;
    margin-left: auto;
    margin-right: auto;
    display: block;
   }

   .quote {
    font-size: 17px;
   }

   main {
    width:100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 8px;
    padding-right: 8px;
   }

  .playlink a{
    width: 90%;
    margin-top: 12px;
    margin-bottom: 20px;
    margin: auto;
    padding: 0%;
    float: none;
    display: flex;
    justify-content: center;
  }

  .about {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
  }

}
